@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100,200,300,400,500,600,700,800,900&display=swap");

:root {
  --bgColor: #262626;
  --bgColorApp: linear-gradient(135deg, #00feba, #5b548a);
  --bgColorInput: #ebfffc;
  --whiteColor: #ffffff;
  --fontColor: #555;
  --imgBG: url(img/background.png);
  --fontStyle: "Poppins", sans-serif;
}
* {
  margin: 0;
  padding: 0;
  color: var(--bgColor);
  font-family: var(--fontStyle);
  box-sizing: border-box;
}
body {
  display: flex;
  background: var(--bgColor);
  justify-content: center;
  /* padding: 20px; */
  max-width: 500px;
  margin: 0 auto;
  height: 100vh;
}
.box {
  background: var(--bgColorApp);
  border-radius: 15px;
  height: 600px;
}
header {
  display: flex;
  margin: 20px;
}
.item {
  width: 200px;
  justify-content: space-between;
  padding: 20px 10px;
  text-align: center;
}
.score,
.time-left {
  display: flex;
  align-items: flex-end;
  justify-content: end;
}
.grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 10px;
  margin: 10px;
  justify-content: center;
}
.square {
  width: 100%;
  height: 110px;
  background: red;
}
.app-options {
  display: flex;
  justify-content: space-between;
  padding: 20px;
}
.app-options .right {
  display: flex;
  width: 35%;
  justify-content: center;
}
.app-options .left {
  width: 55%;
  display: flex;
  flex-direction: column;
  text-align: center;
}

input[type="range"] {
  /* -webkit-appearance: none;*/
  /* height: 10px; */
  /* margin-top: -10px; */
  border-radius: 25px;
  /* background-image: linear-gradient(#ff4500, #ff4500); */
  /* background-size: 70% 100%; */
  /* background-repeat: no-repeat; */
}
.left label {
  margin-top: 5px;
  font-size: 20px;
  font-weight: 600;
}
.btn {
  display: flex;
  padding: 10px 20px;
  border-radius: 6px;
  font-weight: 600;
  border: solid 2px #262626;
  align-items: center;
  color: var(--bgColorInput);
  background: var(--bgColor);
  font-size: 1rem;
  outline: none;
  cursor: pointer;
  border: none;
  transition: all 0.3s;
}
.btn:hover {
  background: transparent;
  border: solid 2px #262626;
  color: var(--bgColor);
}

.mole {
  background: yellow;
}
